# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------------
# Virtual Environment
# -----------------------------
venv/
env/
ENV/

# -----------------------------
# Jupyter Notebook
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# Logs
# -----------------------------
logs/
*.log

# -----------------------------
# Dataset Files
# -----------------------------
data/
datasets/
*.csv
*.xlsx
*.json

# -----------------------------
# ML/DL Model Files
# -----------------------------
*.h5
*.hdf5
*.keras
*.pt
*.pth
*.ckpt
*.pb
*.onnx
*.joblib
*.pkl

# -----------------------------
# TensorFlow / PyTorch Cache
# -----------------------------
runs/
wandb/
lightning_logs/
tensorboard/
checkpoints/

# -----------------------------
# Build Files
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# System Files
# -----------------------------
.DS_Store
Thumbs.db